:root {
	--brand-color: #34495e;
	--header-border-color: #34495e;
	--header-text-color: #ffffff;
	--row-color-zebra-light: #ecf8f3;
	--row-color-zebra-dark: #d9f1e6;
	--cell-border-color: #ffffff;
	--cell-text-color: #34495e;
	--active-cell-background: #ffffff;
	--active-cell-outline: #41b883;
	--required-border: #b84277;
	--table-font-size: 11pt;
	--border-collapsed: none;
}

.atable {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--table-font-size);
}

body {
	background: #ffffff;
}
