:root {
	--sc-active-cell-background: #ffffff;
	--sc-active-cell-outline: #41b883;
	--sc-border-collapsed: none;
	--sc-brand-color: #34495e;
	--sc-cell-border-color: #ffffff;
	--sc-cell-text-color: #34495e;
	--sc-header-border-color: #34495e;
	--sc-header-text-color: #ffffff;
	--sc-required-border: #b84277;
	--sc-row-color-zebra-dark: #d9f1e6;
	--sc-row-color-zebra-light: #ecf8f3;
	--sc-table-font-size: 11pt;
}

.atable {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--sc-table-font-size);
}

body {
	background: #ffffff;
}
