:root {
	--sc-active-cell-background: #f7f7e9;
	--sc-active-cell-outline: #a5460d;
	--sc-brand-color: #a5460d;
	--sc-cell-border-color: #f7f7e9;
	--sc-cell-text-color: #3a3c41;
	--sc-header-border-color: #f7f7e9;
	--sc-header-text-color: #f7f7e9;
	--sc-required-border: #e63c28;
	--sc-row-color-zebra-dark: #c3b9a0;
	--sc-row-color-zebra-light: #f7f7e9;
	--sc-table-font-size: 11pt;
}

.atable {
	font-family: Muli, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--sc-table-font-size);
}
