:root {
	--brand-color: #a5460d;
	--header-border-color: #f7f7e9;
	--header-text-color: #f7f7e9;
	--row-color-zebra-light: #f7f7e9;
	--row-color-zebra-dark: #c3b9a0;
	--cell-border-color: #f7f7e9;
	--cell-text-color: #3a3c41;
	--active-cell-background: #f7f7e9;
	--active-cell-outline: #a5460d;
	--required-border: #e63c28;
	--table-font-size: 11pt;
}

.atable {
	font-family: Muli, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--table-font-size);
}
