:root {
	--brand-color: #31708e;
	--header-border-color: #31708e;
	--header-text-color: #f7f9fb;
	--row-color-zebra-light: #f7f9fb;
	--row-color-zebra-dark: #eeeeee;
	--cell-border-color: #ffffff;
	--cell-text-color: #080604;
	--active-cell-background: #ffffff;
	--active-cell-outline: #687864;
	--required-border: #e04e46;
	--table-font-size: 11pt;
}

.atable {
	font-family: Sabon, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--table-font-size);
}
