@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
	--sc-active-cell-background: #3a3c41;
	--sc-active-cell-outline: #dddddd;
	--sc-border-collapsed: collapse;
	--sc-brand-color: #3a3c41;
	--sc-cell-border-color: #666666;
	--sc-cell-text-color: #dddddd;
	--sc-focus-cell-background: #3a3c41;
	--sc-focus-cell-outline: #dddddd;
	--sc-header-border-color: #666666;
	--sc-header-text-color: #ffffff;
	--sc-required-border: #e63c28;
	--sc-row-color-zebra-dark: #3a3c41;
	--sc-row-color-zebra-light: #3a3c41;
	--sc-table-font-size: 12pt;
}

.atable {
	font-family: Roboto, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--sc-table-font-size);
}

body {
	background-color: #3a3c41;
	font-family: Roboto, Arial, sans-serif;
	color: #dddddd;
}
