@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('@stonecrop/themes/default/default.css');


:root {
	font-family: var(--font-family);
}

.aform-primary-action {
	font-size: 100%;
	text-align: center;
	min-height: 2em;
	padding: 0.25rem 1rem 0.25rem 1rem;
	border: 1px solid var(--primary-color);
	color: var(--primary-text-color);
	background-color: var(--primary-color);
	outline: 2px solid var(--primary-text-color);
	transition: outline-offset 200ms ease;
	font-size: var(--font-size);
	margin: 0.5ch;
}

.aform-primary-action:hover,
.aform-primary-action:active {
	outline: 2px solid var(--primary-text-color);
	outline-offset: -4px;
	transition: outline-offset 200ms ease;
}
