@import '_variables.scss';

.beam__listview {
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2.5em;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.beam__listitem {
	outline: 2px solid transparent;
	margin-left: 1ch;
	margin-right: 1ch;
	border-bottom: 2px solid $brand-dark;
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: calc(100vw - 3ch);
}
.beam__listitem label {
	font-size: 150%;
	max-width: calc(100vw - 10ch);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex: 0 1 auto;
}
.beam__listitem p {
	font-size: 90%;
	margin: 0;
	max-width: calc(100vw - 10ch);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex: 0 1 auto;
}

.beam__listitem:focus {
	border-bottom: 2px solid transparent;
	outline: 2px solid $brand-primary;
}

.beam__itemcount {
	font-size: 250%;
	display: flex;
	flex: 0 1 auto;
}
.beam__itemcount span {
	margin: 0;
	padding: 0;
	outline: none;
}

.beam__item_check {
}

.beam__listanchor {
	text-decoration: none;
	outline: none;
	color: $brand-dark;
}

.beam__navbar {
	background-color: $brand-dark;
	margin-left: 0;
	min-height: 4em;
	max-height: 4em;
	color: $brand-primary;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding-left: 1ch;
	padding-right: 1ch;

	.home-icon {
		font-size: 200%;
		border: 1px solid transparent;
		margin-top: -0.3em;
		max-width: 33%;
		width: 33%;
		text-align: left;
	}

	.home-icon:hover {
		border: 1px solid $brand-primary;
	}

	.nav-title {
		display: inline-block;
		border: 1px solid transparent;
		max-width: 33%;
		width: 33%;
		text-align: center;
	}
	.nav-title:hover {
		border: 1px solid $brand-primary;
	}
	.navbar-action-wrapper {
		max-width: 33%;
		width: 33%;
		text-align: right;
	}
	.navbar-action {
		font-size: 100%;
		text-align: center;
		width: 10ch;
		min-height: 2.2em;
		padding-left: 1ch;
		padding-right: 1ch;
		border: 1px solid $brand-primary;
		color: $brand-dark;
		background-color: $brand-primary;
		outline: 2px solid $brand-dark;
		transition: outline-offset 200ms ease;
	}

	.navbar-action:hover,
	.navbar-action:active {
		outline: 2px solid $brand-dark;
		outline-offset: -4px;
		transition: outline-offset 200ms ease;
	}
}
.beam__actionfooter {
	background-color: $brand-primary;
	margin-left: 0;
	min-height: 3em;
	max-height: 3em;
	color: $brand-dark;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding-left: 1ch;
	padding-right: 1ch;
	align-items: center;

	.footer-action-wrapper {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}

	.footer-action {
		font-size: 100%;
		text-align: center;
		width: 10ch;
		min-height: 2.2em;
		padding-left: 1ch;
		padding-right: 1ch;
		border: 1px solid $brand-dark;
		color: $brand-primary;
		background-color: $brand-dark;
		outline: 2px solid $brand-primary;
		transition: outline-offset 200ms ease;
	}

	.footer-action:hover,
	.footer-action:active {
		outline: 2px solid $brand-primary;
		outline-offset: -4px;
		transition: outline-offset 200ms ease;
	}
}
