:root {
	--sc-active-cell-background: #ffffff;
	--sc-active-cell-outline: #687864;
	--sc-brand-color: #31708e;
	--sc-cell-border-color: #ffffff;
	--sc-cell-text-color: #080604;
	--sc-header-border-color: #31708e;
	--sc-header-text-color: #f7f9fb;
	--sc-required-border: #e04e46;
	--sc-row-color-zebra-dark: #eeeeee;
	--sc-row-color-zebra-light: #f7f9fb;
	--sc-table-font-size: 11pt;
}

.atable {
	font-family: Sabon, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--sc-table-font-size);
}
