@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
	--brand-primary: #827553;
	--brand-secondary: #c4b695;
	--brand-danger: #e63c28;
	--brand-success: #155724;
	--text-color: #333;
	--highlight: #ddd;
	--background-color: #fff;
	--font-family: 'Arimo', 'sans-serif';
}
