/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

/* General Sizing */
html {
	font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}

/* Variables */
:root {
	--brand-primary: #827553;
	--brand-secondary: #c4b695;
	--brand-danger: #e63c28;
	--brand-success: #3c5014;
	--brand-dark: #3a3c41;
	--brand-light: #fff;
	--text-color: #333;
	--light-gray: #ddd;
	--font-family: 'Arimo', 'sans-serif';
}
body {
	font-family: var(--font-family);
}

/* Style */
.home-icon {
	font-size: 3rem;
	border: 1px solid transparent;
	text-align: left;
	color: var(--brand-light);
}

.home-icon:hover {
	border: 1px solid var(--brand-primary);
}
.beam__listview {
	list-style-type: none;
	/* margin: 0 1rem; */
	margin: 2rem 1rem;
	padding: 0;
	padding-bottom: 2.5em;
	/* display: flex;
	flex-direction: column;
	flex: 1 0 auto; */
}

.beam__listitem {
	/* outline: 2px solid transparent; */
	padding: 1rem;
	border-bottom: 1px solid var(--light-gray);
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 2rem;
	/* width: calc(100vw - 3ch); */
}
.beam__listtext {
	width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex-grow: 1;
}
.beam__listitem label {
	font-size: 1.8rem;
	font-weight: bold;
	display: block;
	margin-bottom: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	/* width:270px;
	max-width:270px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
	/* display: flex;
	flex: 0 1 auto; */
}
.beam__listitem p {
	font-size: 1.4rem;
	margin: 0;
	/* margin: 1rem 0; */
	/* width:100px; */
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	flex: 0 1 auto; */
}

.beam__listitem:focus {
	border-bottom: 2px solid transparent;
	outline: 2px solid var(--brand-primary);
}

.beam__itemcount {
	font-size: 2.1rem;
	/* display: flex;
	flex: 0 1 auto; */
}
.beam__itemcount span {
	margin: 0;
	padding: 0;
	outline: none;
}

.beam__listanchor {
	text-decoration: none;
	outline: none;
	color: var(--brand-dark);
}
.btn {
	font-size: 1.4rem;
	text-align: center;
	padding: 1rem 1.5rem;
	border: none;
	color: var(--brand-primary);
	background-color: var(--brand-light);
	font-weight: bold;
	/* outline: 2px solid var(--brand-primary); */
	cursor: pointer;
	border-radius: 2px;

	&:hover,
	&:active {
		background-color: var(--brand-secondary);
		color: var(--brand-light);
	}
}
.btn--dark {
	color: var(--brand-light);
	background-color: var(--brand-primary);
}
.beam__navbar {
	padding: 1rem;
	background-color: var(--brand-primary);
	margin-left: 0;
	min-height: 4em;
	max-height: 4em;
	color: var(--brand-primary);
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-bottom: 1px solid var(--brand-primary);

	/* padding-left: 1ch;
	padding-right: 1ch; */

	.nav-title {
		display: inline-block;
		border: 1px solid transparent;
		margin-left: 1rem;
		text-align: left;
		font-size: 2.4rem;
		color: var(--brand-light);
	}
	/* .nav-title:hover {
		border: 1px solid var(--brand-primary);
	} */
	.navbar-action-wrapper {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		text-align: right;
	}
	.navbar-action {
		/* font-size: 100%;
		text-align: center;
		min-height: 2.2em;
		padding: 1rem 1.5rem;
		border: 1px solid var(--brand-primary);
		color: var(--brand-primary);
		background-color: var(--brand-light);
		font-weight:bold; */
		/* outline: 2px solid var(--brand-dark); */
		/* transition: outline-offset 200ms ease; */
		/* cursor:pointer; */
	}

	.navbar-action:hover,
	.navbar-action:active {
		/* outline: 2px solid var(--brand-secondary); */
		/* outline-offset: -4px; */
		/* transition: outline-offset 200ms ease; */
		/* background:white; */
		/* color:var(--brand-secondary); */
	}
}
.beam__actionfooter {
	/* background-color: var(--brand-light); */
	margin-left: 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	color: var(--brand-dark);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	/* display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-between; */
	padding: 1rem;
	text-align: center;

	.footer-action-wrapper {
		/* max-width: 100%;
		width: 100%;
		text-align: center; */
	}

	.footer-action {
		/* font-size: 100%;
		text-align: center;
		width: 10ch;
		min-height: 2.2em;
		padding-left: 1ch;
		padding-right: 1ch;
		border: 1px solid var(--brand-dark);
		color: var(--brand-primary);
		background-color: var(--brand-dark);
		outline: 2px solid var(--brand-primary);
		transition: outline-offset 200ms ease; */
	}

	.footer-action:hover,
	.footer-action:active {
		/* outline: 2px solid var(--brand-primary);
		outline-offset: -4px;
		transition: outline-offset 200ms ease; */
	}
}
