/* @import url('../../themes/default/default.css'); */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Style */

:root {
	/* variables */
	--primary-color: #f2f2f2; /* primary action color */
	--primary-text-color: #666666; /* text color paired with primary color */

	--alert: #e63c28;
	--success: #155724;

	--font-family: Arimo, Arial, sans-serif;

	--row-border-color: #ccc;

	--btn-color: white;
	--btn-border: #ccc;
	--btn-label-color: black;

	--list-margin: 0rem 0.625rem;
}

body {
	font-family: var(--font-family);
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	height: 100%;
	box-sizing: border-box;
}

/* general */
.beam_header {
	border: 1px solid transparent;
	text-align: left;
	font-size: 1.125rem;
	color: var(--primary-text-color);
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
}
.beam_copy {
	color: var(--primary-text-color);
	font-size: 1rem;
	line-height: 1.5rem;
}

/* modifiers */
.beam--bold {
	font-weight: bold;
}
.beam--normal {
	font-weight: normal;
}
.beam--alert {
	color: var(--alert);
}
.beam--success {
	color: var(--success);
}

/* beam navbar */
.beam_navbar {
	padding: 0.625rem;
	background-color: var(--primary-color);
	margin-left: 0;
	min-height: 2em;
	max-height: 2em;
	color: var(--primary-text-color);
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--row-border-color);

	& h1 {
		margin-left: 0.625rem;
	}
}

/* beam list */

.beam_list-view {
	list-style-type: none;
	margin: var(--list-margin);
	padding: 0;
	padding-bottom: 2.5em;
	margin-top: 1px;
}

.beam_list-item {
	padding: 0.625rem;
	border-bottom: 1px solid var(--row-border-color);
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 1.25rem;
	cursor: pointer;
	outline: 2px solid transparent;
	outline-offset: -1px;

	&:focus {
		outline: 2px solid var(--focus-cell-outline);
		background-color: var(--focus-cell-background);
	}
}
.beam_list-text {
	width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex-grow: 1;
	font-size: 0.875rem;
	color: var(--primary-text-color);
	overflow: hidden;
	text-overflow: ellipsis;
}
.beam_list-item label {
	display: block;
}
.beam_list-item p {
	margin: 0;
}
.beam_list-anchor {
	text-decoration: none;
	outline: none;
	color: var(--primary-text-color);
}

/* item count */

.beam_item-count {
	font-size: 1.3125rem;
	color: var(--primary-text-color);
}
.beam_item-count span {
	margin: 0;
	padding: 0;
	outline: none;
}

/* footer */

.beam_btn {
	font-size: 0.875rem;
	text-align: center;
	padding: 0.3125rem 0.75rem;
	border: 1px solid var(--btn-border);
	color: var(--btn-label-color);
	background-color: var(--btn-color);
	cursor: pointer;

	&:hover,
	&:active {
		background-color: var(--btn-hover);
	}
}

.beam_action-footer {
	margin-left: 0;
	background: linear-gradient(180deg, transparent 0%, white 100%);
	color: var(--primary-text-color);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.625rem;
	text-align: center;
}

/* modal */
.beam_modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	z-index: 1000;
	text-align: center;
	padding: 1.25rem;
}
.beam_modal-confirm {
	background: #ffffff;
	padding: 1.25rem;
	width: 80%;
	max-width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	& button {
		margin: 0.625rem;
	}
	& h2 {
		border-bottom: 1px solid var(--row-border-color);
		padding-bottom: 0.625rem;
		color: var(--primary-text-color);
	}
}

/* metadata */
.beam_metadata {
	/* margin:3.125rem; */
	box-sizing: border-box;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	color: var(--primary-text-color);
}
.beam_metadata_content {
	padding-top: 10px;
}
.beam_metadata_header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 0px 30px 0px 30px;
	justify-content: space-between;
}
.beam_metadata_count {
	font-size: 1.5rem;

	& p {
		margin: 0;
	}
}
.beam_metadata_header-order-num {
	font-weight: bold;
	font-size: 1.5rem;
}
.beam_metadata_block {
	padding: 0px 30px;
	margin: 10px 0;
}
.beam_metadata_shipping {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;

	& p {
		line-height: 1.5rem;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
}

.beam_metadata_component_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}
.beam_metadata_components {
	overflow: scroll;
}
.beam_metadata_heading {
	font-size: 1.125rem;
	font-weight: bold;
	margin: 0.625rem 0;
}

/* new, revised styles */
