@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Global Beam Styles */

:root {
	/* variables */
	--sc-primary-color: #f2f2f2; /* primary action color */
	--sc-primary-text-color: #666666; /* text color paired with primary color */

	--sc-alert: #e63c28;
	--sc-success: #155724;
	--sc-warning: #f0f34f;

	--sc-font-family: Arimo, Arial, sans-serif;

	--sc-row-border-color: #ccc;

	--sc-btn-color: white;
	--sc-btn-border: #ccc;
	--sc-btn-label-color: black;

	--sc-list-margin: 0.625rem;

	--sc-cell-changed-color: #d8edff;
}

/* body {
	font-family: var(--sc-font-family);
	background-color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	height: 100%;
	box-sizing: border-box;
} */

/* general */

.beam_copy {
	color: var(--sc-primary-text-color);
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: var(--sc-font-family);
}

/* modifiers */
.beam--bold {
	font-weight: bold;
}
.beam--normal {
	font-weight: normal;
}
.beam--alert {
	color: var(--sc-alert);
}
.beam--warning {
	color: var(--sc-warning);
}
.beam--success {
	color: var(--sc-success);
}

/* Vue Toast Notifictations Overrides */

.v-toast__item {
	border-radius: 0;
	color: white;
	font-family: var(--sc-font-family);
}
.v-toast__item--success {
	background-color: var(--sc-success) !important;
	color: white;
}
.v-toast__item--info {
	background-color: var(--sc-primary-text-color) !important;
}
.v-toast__item--warning {
	background-color: var(--sc-warning) !important;
	color: white;
}
.v-toast__item--error {
	background-color: var(--sc-alert) !important;
	color: white;
}
.v-toast__item--default {
	background-color: var(--sc-primary-text-color) !important;
}
