/* 
Holds styles for all form fields
*/
/* .aform__form{

} */
.aform{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
}
.aform__form-element{
  min-width:40ch;
    border:1px solid transparent;
    padding:0;
    margin:0;
    margin-right:.5rem;
    margin-bottom:.5rem;
}
.aform__input-field{
  outline: 1px solid transparent;
    border: 1px solid var(--input-border-color);
    padding:.25rem;
    margin: 0 0 0 0;
    border-radius: 0 0 0.25rem .25rem;
    box-sizing:border-box;
    width:100%;
}
.aform__field-label{
  color: var(--input-label-color);
	display: block;
	min-height: 1.15rem;
	padding: .25rem;
	margin: 0rem;
  z-index: 2;
	font-size: 1rem;
	font-weight:600;
  letter-spacing: 0.05rem;
	background: white;
	width:100%;
	box-sizing:border-box;
	background:var(--gray-5);
	border:1px solid var(--input-border-color);
	border-bottom:none;
  
}
.aform > p.error{
	display: block;
	min-height: 1.15rem;
	padding: 0rem;
	padding-left:.5rem;
	margin: .5rem 0 .25rem 0rem;
	border: 1px solid transparent;
  width: 100%;
	color: var(--brand-danger);
	font-size: .8rem;
}

.aform__input-field:focus {
	border: 1px solid var(--input-active-border-color);
}

.aform__input-field:focus + .aform__field-label {
	color: var(--input-active-label-color);
}

/**  CHECKBOX **/
.aform__checkbox{
  cursor:pointer;
}
.aform__checkbox:checked{
  accent-color:var(--primary-color);
  border:1px solid black;
}

.aform__checkbox-container {
	width:100%;
	display:inline-block;
}

.aform__checkbox-container:hover + .aform__field-label {
	color: var(--input-active-label-color);
}