/*
Holds styles for all form fields
*/

/* .aform-primary-action {
	font-size: 100%;
	text-align: center;
	min-height: 2em;
	padding: 0.25rem 1rem 0.25rem 1rem;
	border: 1px solid var(--sc-primary-color);
	color: var(--sc-primary-text-color);
	background-color: var(--sc-primary-color);
	outline: 2px solid var(--sc-primary-text-color);
	transition: outline-offset 200ms ease;
	font-size: var(--sc-font-size);
	margin: 0.5ch;
}

.aform-primary-action:hover,
.aform-primary-action:active {
	outline: 2px solid var(--sc-primary-text-color);
	outline-offset: -4px;
	transition: outline-offset 200ms ease;
} */

/** expandedable form styles **/
/* tr:focus {
	background-color: lightblue;
	outline: auto;
} */
