/* 
Holds styles for all form fields
*/
/* .aform__form{

} */
.aform {
	display: grid;
	grid-auto-flow: row;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 1rem;
	border: 1px solid var(--gray-5);
	border-left: 4px solid var(--gray-5);
	margin-bottom: 1rem;
	max-width:100%;
}

@media screen and (max-width:600px){
	.aform{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media screen and (max-width:400px){
	.aform{
		grid-template-columns: 1fr 1fr;
	}
}

.aform__form-element {
	border: 1px solid transparent;
	padding: 0;
	margin: 0;
	position: relative;
	grid-column: span 2
}
.aform__grid--full{
	grid-column: 1 / -1;
}
.aform__grid--small{
	grid-column: span 1
}
.aform__grid--half{
	grid-column: span 3
}
.aform__input-field {
	outline: 1px solid transparent;
	border: 1px solid var(--input-border-color);
	font-size: 1rem;
	padding: 0.25rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	margin: 0 0 0 0;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	color: var(--cell-text-color);
}
.aform__field-label {
	color: var(--input-label-color);
	display: inline-block;
	position: absolute;
	padding: 0 0.25rem;
	margin: 0rem;
	z-index: 2;
	font-size: 0.7rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
	background: white;
	width: auto;
	box-sizing: border-box;
	background: white;
	/* padding:0 5px; */
	margin: 0;
	border: 1px solid var(--input-border-color);
	grid-row: 1;
	top: 0;
	left: 10px;
	border: none;

	transform: translateY(-50%);
}
p.error {
	display: block;
	display: inline-block;
	display: none;
	/* min-height: 1.15rem; */
	padding: 0rem;
	padding-left: 0.5rem;
	margin: 0.5rem 0 0.25rem 0rem;
	border: 1px solid transparent;
	width: 100%;
	width: auto;
	color: var(--brand-danger);
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 0;
	/* border:1px solid red; */
	/* background:rgb(255, 197, 197); */
	background: white;
	padding: 0.25rem;
	transform: translate(-1rem, -50%);
	margin: 0;
}

.aform__input-field:focus {
	border: 1px solid var(--input-active-border-color);
}

.aform__input-field:focus + .aform__field-label {
	color: var(--input-active-label-color);
}

/**  CHECKBOX **/
.aform__checkbox {
	cursor: pointer;
	width: auto;
	margin-top:0;
}
.aform__checkbox:checked {
	accent-color: var(--primary-color);
	border: 1px solid black;
}

.aform__checkbox-container {
	width: 100%;
	display: inline-block;
	text-align: left;
}
.aform__checkbox-container input {
	width: auto;
}

.aform__checkbox-container:hover + .aform__field-label {
	color: var(--input-active-label-color);
}
.aform-primary-action {
	font-size: 100%;
	text-align: center;
	min-height: 2em;
	padding: 0.25rem 1rem 0.25rem 1rem;
	border: 1px solid var(--primary-color);
	color: var(--primary-text-color);
	background-color: var(--primary-color);
	outline: 2px solid var(--primary-text-color);
	transition: outline-offset 200ms ease;
	font-size: var(--font-size);
	margin: 0.5ch;
}

.aform-primary-action:hover,
.aform-primary-action:active {
	outline: 2px solid var(--primary-text-color);
	outline-offset: -4px;
	transition: outline-offset 200ms ease;
}

/** expandedable form styles **/
tr:focus {
	background-color: lightblue;
	outline: auto;
}
.aform__form-btn{
	padding:.5rem 2rem;
	width:auto;
	border:1px solid var(--input-border-color);
	color: var(--input-label-color);
	cursor:pointer;
}
.aform__file-attach{
	padding:1rem;
	display:flex;
	flex-wrap:wrap;
	gap:1rem;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	border: 1px dashed var(--input-border-color);
}
@media screen and (max-width:400px){
	.aform__file-attach > .aform__form-btn{
		width:100%;
	}
}
/* .aform__file-attach-buttons{
	grid-column: span 1;
} */

.aform__file-attach-feedback{
	color: var(--input-label-color);
	width:100%;
	padding:.5rem;
	text-align: center;
	align-self: center;

	& > li{
		list-style: none;
		font-style: italic;
	}
	& > p{
		margin-top :0;
	}
}
