/*
Holds styles for all tables, TH, TR, TD, etc.
*/
/* .atable__table{

} */

.atable {
	font-family: var(--atable-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: var(--table-font-size);
	border-collapse: collapse;
}
.row-index {
	color: var(--header-text-color);
	font-weight: bold;
	text-align: center;
	user-select: none;
	width: 2ch;
}
.expandable-row {
	border-top: 1px solid var(--row-border-color);
	height: var(--atable-row-height);
	border-left: 4px solid var(--row-border-color);
}

.expanded-row {
	border-bottom: 1px solid var(--row-border-color);
	border-top: 1px solid var(--row-border-color);
}

.expanded-row-content {
	border-bottom: 1px solid var(--row-border-color);
	border-top: 1px solid var(--row-border-color);
	padding: 1.5rem;
}
.atable__cell {
	border-radius: 0px;
	box-sizing: border-box;
	margin: 0px;
	outline: none;
	box-shadow: none;
	color: var(--cell-text-color);
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 0.5ch !important;
	padding-right: 0.5ch;
	padding-top: var(--atable-row-padding);
	padding-bottom: var(--atable-row-padding);
	border-spacing: 0px;
	border-collapse: collapse;

	overflow: hidden;
	text-overflow: ellipsis;
	order: 1;

	& span {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.atable__cell:focus,
.atable__cell:focus-within {
	background-color: var(--focus-cell-background);
	outline-width: 2px;
	outline-style: solid;
	outline-offset: -1px;
	outline-color: var(--focus-cell-outline);
	box-shadow: none;
	overflow: hidden;
	min-height: 1.15em;
	max-height: 1.15em;
	overflow: hidden;
	box-sizing: border-box;
}

.table-row {
	border-top: 1px solid var(--row-border-color);
	height: var(--atable-row-height);
	display: flex;
	background-color: white;
}

.list-index {
	color: var(--header-text-color);
	font-weight: bold;
	padding-left: var(--atable-row-padding);
	padding-right: 1em;
	text-align: center;
	user-select: none;
	width: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tree-index {
	color: var(--header-text-color);
	font-weight: bold;
	text-align: center;
	user-select: none;
	width: 2ch;
}

.atable #header-index {
	width: 30px;
	padding-right: 1em;
	padding-left: 0;
	box-sizing: border-box;
}
.atable-header-row {
	display: flex;
}

.atable th {
	border-width: 0px;
	border-style: solid;
	border-radius: 0px;
	padding-left: 0.5ch;
	padding-right: 0.5ch;
	padding-top: var(--atable-row-padding);
	padding-bottom: var(--atable-row-padding);
	color: var(--gray-60);
	height: var(--atable-row-height);
	font-weight: 300;
	letter-spacing: 0.05rem;
	order: 1;
	box-sizing: border-box;
}
#header-index {
	box-sizing: content-box;
}

.atable th:focus {
	outline: none;
}
.amodal {
	z-index: 100;
	position: absolute;
	background-color: var(--row-color-zebra-dark);
}

.sticky-index {
	position: sticky;
	left: 0px;
	z-index: 1;
	order: 0;
}

.sticky-column,
th.sticky-column,
td.sticky-column,
th.sticky-index,
td.sticky-index {
	position: sticky;
	z-index: 1;
	order: 0;
	background: white;
}
.sticky-column-edge,
.atable th.sticky-column-edge {
	border-right: 1px solid var(--row-border-color);
	border-right-width: 1px;
}
