name: Verify Changes

on:
  pull_request:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout
        with:
          fetch-depth: 2

      - uses: actions/setup-node@v3
        name: Install Node.js
        with:
          cache-dependency-path: '**/config/rush/pnpm-lock.yaml'
          registry-url: https://npm.pkg.github.com/

      - name: Verify Changes
        run: node common/scripts/install-run-rush.js change --verify
